###汇总和计算统计

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame([[1,np.nan],[2,np.nan],[np.nan,np.nan],[2,4]], index=['a','b','c','d'], columns=['one','two'])
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>one</th>
      <th>two</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>a</th>
      <td>1.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>b</th>
      <td>2.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>c</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>d</th>
      <td>2.0</td>
      <td>4.0</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
df.sum(axis=1)

a    1.0
b    2.0
c    0.0
d    6.0
dtype: float64

###执行sum, NA会被自动过滤，除非加上skipna =False

In [7]:
df.sum(axis=1, skipna=False)

a    NaN
b    NaN
c    NaN
d    6.0
dtype: float64

In [11]:
df.cumsum()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>one</th>
      <th>two</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>a</th>
      <td>1.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>b</th>
      <td>3.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>c</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>d</th>
      <td>5.0</td>
      <td>4.0</td>
    </tr>
  </tbody>
</table>
</div>

![avatar](file:///E:/study/mechain-learning/python-node/notes-python/12-pandas/5-10-02.png)

![avatar](file:///E:/study/mechain-learning/python-node/notes-python/12-pandas/5-10-1.png)

###唯一值，值计算

In [18]:
obj = pd.Series(['a','c','d','e','a','c'])
uniques = obj.unique()   ##
uniques

array(['a', 'c', 'd', 'e'], dtype=object)

In [21]:
obj.value_counts()  ###计算出现的频次

a    2
c    2
d    1
e    1
dtype: int64

###isin 判断是否是集合成员

In [22]:
mask = obj.isin(['a','c'])
mask

0     True
1     True
2    False
3    False
4     True
5     True
dtype: bool

![avatar](file:///E:/study/mechain-learning/python-node/notes-python/12-pandas/5-10-3.png)

##处理缺失数据

![avatar](file:///E:/study/mechain-learning/python-node/notes-python/12-pandas/5-10-4.png)

In [27]:
df.dropna()  ### DataFrame 删除任何一行 ， 其中包含NA

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>one</th>
      <th>two</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>d</th>
      <td>2.0</td>
      <td>4.0</td>
    </tr>
  </tbody>
</table>
</div>

In [25]:
df['two'].dropna()  ###Series 删除NA

d    4.0
Name: two, dtype: float64

In [30]:
###Series 的notnull 也能实现dropna 的功能
data = df['two']
data[data.notnull()]

d    4.0
Name: two, dtype: float64